<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
   <head>
        <title>Users List</title>
   <meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0,maximum-scale=1.0" />

<link rel="stylesheet" href="../css/bulma.min.css"/>
    <script defer src="../js/all.js"></script>
    <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
</head>
 
<body>
   <nav class="navbar is-light ">
        <div class="navbar-brand">
            <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div id="navbarExampleTransparentExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item"th:href="@{/pages/users}">
                    les Users
                </a>
                <a class="navbar-item" href="https://bulma.io/">
                    Band
                </a>
                <a class="navbar-item" href="https://bulma.io/">
                    Tour
                </a>
                <a class="navbar-item" href="https://bulma.io/">
                    Contact
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="/documentation/overview/start/">
                        Client
                    </a>
                     <div class="navbar-dropdown">
			          <a class="navbar-item"  href="newtiers">
			            Créer un Tiers
			          </a>
			          
			          <a class="navbar-item"  href="newconseiller">
			            Créer un Conseiller
			          </a>
			           <a class="navbar-item"  href="newinterne">
			            Créer un Interne
			          </a>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field">
                        <div class="control">
                            <form th:action="@{/logout}" method="post">
		<input type="submit" value="Deconnexion" />
	</form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
<h1> Les users</h1>
<td><a th:href="${'/user/new/'}">Nouvel Utilisateur</a></td>
<div class="container">
		<div th:if="${not #lists.isEmpty(users)}">
			<h2>Product List</h2>
			<table class="table table-striped">
				<tr>
					<th>id</th>
					<th>Firstname</th>
                        <th>Lastname</th>
                        <th>Email</th>
                        <th>SSO ID</th>
                        
					<th>View</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
				<tr th:each="user : ${users}">
					<td th:text="${user.id}"><a href="/user/${user.id}">Id</a></td>
					<td th:text="${user.firstName}"></td>
                        <td th:text="${user.lastName}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.ssoId}"></td>
					<td><a th:href="${'/user/' + user.id}">View</a></td>
					<td><a th:href="${'/user/edit/' + user.id}">Edit</a></td>
					<td><a th:href="${'/user/delete/' + user.id}">Delete</a></td>
				</tr>
			</table>
		</div>
</div>
 </body>
</html>